<p id="notice"><%= notice %></p>

<h1>Fake Dns Servers</h1>

<%= react_component('ServerList') %>

<%= link_to 'New Fake Dns Server', new_fake_dns_server_path, class: 'pure-button pure-button-primary' %>
